<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">
        Time
      </th>
      <th scope="col">
        Pointer
      </th>
      <th *ngFor="let register of s.registers" scope="col" class="instructions-center">
        {{ register.name }}
      </th>
      <th *ngFor="let register of maxRegistersArray()" scope="col" class="instructions-center">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stage of s.timeline.stages">
      <th scope="row">
        {{ stage.time }}
      </th>
      <th scope="row">
        {{ stage.pointer }}
      </th>
      <td *ngFor="let register of stage.registers">
        {{ register }}
      </td>
    </tr>
  </tbody>
</table>
