<div class="container-fluid">
  <br>
  <app-navbar></app-navbar>
  <br>
  <app-controls></app-controls>
  <br>
  <div class="row">
    <div class="col-6">
      <app-instructions></app-instructions>
    </div>
    <div class="col-6">
      <app-table></app-table>
    </div>
  </div>
  <br> Possible statements:
  <br>
  <code>Ri := k</code>
  <br>
  <code>Ri := Rj</code>
  <br>
  <code>RRi := Rj</code>
  <br>
  <code>Ri := RRj</code>
  <br>
  <code>Ri := Rj + Rk</code>
  <br>
  <code>Ri := Rj - Rk</code>
  <br>
  <code>GOTO m</code>
  <br>
  <code>IF Ri = 0 GOTO m</code>
  <br>
  <code>IF Ri > 0 GOTO m</code>
  <br>
  <hr>
  <a href="https://github.com/simonmeusel/raacma-source/issues" class="btn btn-outline-secondary mb-1">
    Submit a issue
  </a>
  <a href="https://github.com/simonmeusel/raacma-source" class="btn btn-outline-secondary mb-1">
    GitHub / Licenses
  </a>
  <a href="https://github.com/simonmeusel/raacma" class="btn btn-outline-secondary mb-1">
    Download for offline use
  </a>
  <a href="http://simonmeusel.de/contact.html" class="btn btn-outline-secondary mb-1">
    Contact
  </a>
  <a href="http://simonmeusel.de/" class="btn btn-outline-secondary mb-1">
    Copyright (c) 2018 Simon Meusel
  </a>
</div>
